:root {
  /************************/
  /*****          *********/
  /*    GLOBAL VARIABLES  */
  /*****          ********/
  /************************/

  /* font sizes */
  --extraBigFontSize: 64px;
  --bigFontSize: 36px;
  --mediumFontSize: 28px;
  --regularFontSize: 20px;
  --smallFontSize: 16px;
  --extraSmallFontSize: 14px;

  /* colors */
  --blue_01: #1f3f68;
  --blue_02: #316099;
  --blue_03: #356ead;
  --blue_04: #5a98d0;
  --blue_05: #98c3e8;
  --white: #ffffff;

  /* gradients */
  /* TODO: change variable name */
  --ee: linear-gradient(183.81deg, #42a5f5 -3.62%, #1565c0 88.96%);
  /* TODO: change variable name */
  --eee: linear-gradient(183.81deg, #98d0fc -3.62%, #3481d7 88.96%);
  /* TODO: change variable name */
  --oo: linear-gradient(
    180.99deg,
    rgba(255, 255, 255, 0) 6.19%,
    rgba(0, 0, 0, 0.15) 102.42%
  );
  /* TODO: change variable name */
  --ooo: linear-gradient(
    180.99deg,
    rgba(255, 255, 255, 0) 6.19%,
    rgba(100, 181, 246, 0.6) 103.09%
  );
  /* TODO: change variable name */
  --ww: linear-gradient(238.37deg, #fff8e1 0.54%, #ffcc80 88.49%);
  /* TODO: change variable name */
  --www: linear-gradient(180deg, #eb5757 0%, #872727 100%);
  /* TODO: change variable name */
  --wwww: linear-gradient(180deg, #af6ced 0%, #5e199d 100%);
  --shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  /* TODO: change variable name */
  --ddddd: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* TODO: change variable name */
  --ssssssssss: 0px 0px 200px rgba(49, 96, 153, 0.4);

  /* fonts */
  --fontCormorant: 'Cormorant Infant', serif; /* Galien */
  --fontRoboto: 'Roboto', sans-serif; /* Gilroy */

  /* margin */
  --marginLeft: 16vw; 

  /* buttons */
  --boxShadowButton:5px 10px 20px rgba(53, 110, 173, 0.2);
}
/************************/
/*****          *********/
/*    GLOBAL CLASSES   */
/*****          ********/
/************************/

/* titles */

/* copies */

/* buttons */
.buttoninactive {
  width: 220px;
  height: 56px;
  font-size: var(--smallFontSize);
  font-family: var(--fontRoboto); 
  color: var(--white);
  background-color: var(--blue_04);
  box-shadow: var(--boxShadowButton);
  border: 0px;
  border-radius: 10px;
  outline:none;
  transition: box-shadow 0.5s ease-in 0.2s, letter-spacing 0.5s ease-in 0.2s, font-weight 0.5s ease-in 0.2s;
}
.buttoninactive:hover {
  font-weight: bolder;
  letter-spacing: 0.05em;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.6); 
}
.buttoninactive:focus {
  color: black;
  font-weight: bolder;
  letter-spacing: 0.05em;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6); 
}

.homepage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
