:root {
  /************************/
  /*****          *********/
  /*    GLOBAL VARIABLES  */
  /*****          ********/
  /************************/

  /* font sizes */
  --extraBigFontSize: 64px;
  --bigFontSize: 36px;
  --mediumFontSize: 28px;
  --regularFontSize: 20px;
  --smallFontSize: 16px;
  --extraSmallFontSize: 14px;

  /* colors */
  --blue_01: #1f3f68;
  --blue_02: #316099;
  --blue_03: #356ead;
  --blue_04: #5a98d0;
  --blue_05: #98c3e8;
  --white: #ffffff;

  /* fonts */
  --fontCormorant: 'Cormorant Infant', serif;
  --fontRoboto: 'Roboto', sans-serif;
}
/************************/
/*****          *********/
/*    GLOBAL CLASSES   */
/*****          ********/
/************************/

/* titles */

/* copies */

/* buttons */
html {
    --Blue_01:#1F3f68;
    --Blue_02:#316099;
    --Blue_03:#356EAD;
    --Blue_04:#5A98D0;
    --Blue_05:#98C3E8;
    --white:#FFFFFF;
    --ee:linear-gradient(183.81deg, #42A5F5 -3.62%, #1565C0 88.96%);
    --eee:linear-gradient(183.81deg, #98D0FC -3.62%, #3481D7 88.96%);
    --oo:linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(0, 0, 0, 0.15) 102.42%);
    --ooo:linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(100, 181, 246, 0.6) 103.09%);
    --ww:linear-gradient(238.37deg, #FFF8E1 0.54%, #FFCC80 88.49%);
    --www:linear-gradient(180deg, #EB5757 0%, #872727 100%);
    --wwww:linear-gradient(180deg, #AF6CED 0%, #5E199D 100%);
    --shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    --ddddd:0px 4px 4px rgba(0, 0, 0, 0.25);
    --ssssssssss: 0px 0px 200px rgba(49, 96, 153, 0.4);
}
