.hero {
  background: linear-gradient(
    0deg,
    rgba(152, 195, 232, 0.2) 8.84vw,
    rgba(152, 195, 232, 0) 31.12vw
  );
  padding-left: var(--marginLeft); 
  display: flex;
  flex-direction: row;
  width: 86vw;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-title {
  font-family: var(--fontCormorant); 
  margin: 70px 0px 32px 0px;
  font-size: var(--extraBigFontSize); 
  line-height: 74px;
  width: 37vw; 
}
.hero-p {
  font-family: var(--fontRoboto); 
  font-size: var(--smallFontSize);
  line-height: 26px;
  width: 31vw; 
  margin: 0px 0px 71px 0px;
}
.buttoninactive {
  width: 220px;
  height: 56px;
  background-color: var(--blue_04);
  box-shadow: var(--boxShadowButton); 
  border-radius: 10px;
}
.hero-img {
  align-items: flex-end;
  margin: 0px 23px 56px 0px;
}
