.hero {
  display: flex;
  flex-direction: column;
  /*  TODO: replace with gradient variable */
  background: linear-gradient(
    0deg,
    rgba(152, 195, 232, 0.2) 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}
.hero-down {
  position: relative;
  margin-left: 212px;
  display: flex;
  flex-direction: row-reverse;
  width: 1163px;
}
.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0px;
}
.hero-title {
  font-family: Galien;
  margin: 70px 0px 32px 0px;
  font-size: 64px;
  line-height: 74px;
  width: 550px;
}
.hero-p {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  width: 425px;
  margin: 0px 0px 71px 0px;
}
.buttoninactive {
  width: 220px;
  height: 56px;
  background-color: var(--blue_04);
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
}
.hero-img {
  position: relative;
  align-items: flex-end;
  margin: 0px 23px 56px 0px;
}
