
.homepage {
    width: 1366px;
    margin: auto;
}
.hero{
    display: flex;
    flex-direction: column;
}
.navigation {
    margin: 83px;
    margin-top:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: relative;
    width: 48px;
    height: 48px;
    background-color: #98D0FC;
}
.Ellipse{
    position: absolute;
    top: 16.67%;
    width: 58.3%;
    height: 58.3%;
    background-color: var(--Blue_02);
    border: 2px solid var(--Blue_02);
    border-radius: 100%;
    order: 1;
}
.Ellipse1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy;
    font-size: 20px;
    line-height: 28px;
    color: var(--Blue_02);
    order: 2;
    left: 33.3%;
    background-color: var(--white);
}
.ic_menu{
    width: 24px;
    height: 16px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.barra-azul{
    width: 24px;
    height: 2.6px;
    background-color: var(--Blue_03);
}

@media (max-width: 1366px) {
    .homepage {
        width: 100%;
        margin:auto;
    }
}