.navigation {
  margin: 3vw 7vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo { 
  width: 48px;
  transition: all 0.5s linear 0.1s;
}
.logo:hover{
  transform: scale(1.3);
}
.ic_menu {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s linear 0.1s;
}
.ic_menu:hover{
  transform: scale(1.5);
}
.barra-azul {
  width: 24px;
  height: 2.6px;
  background-color: var(--blue_03);
}
