.navigation {
  margin: 8vw;
  margin-top: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo { 
  width: 48px;
}
/* TODO: this will be replace since it should be a logo image as an svg */

.ic_menu {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.barra-azul {
  width: 24px;
  height: 2.6px;
  background-color: var(--blue_03);
}
