.our-project {
  margin: 0 0 20% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  }
  .container-our-project {
  margin: 10% 0 10% -9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 860px;    
  }
  .secundary-title2 {
  font-family: Gilroy;
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  }
  .secundary-title2-p {
  width: 540px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  }
  .background-secondary-title1 {
  margin: 0 0 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(maskgroup1.png);
  width: 940px;
  height: 417px;
  }
  .medium-title {
  margin: 5% 5% -1.5% 7%;
  font-family: Gilroy;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  }
  .medium-title-p {
  margin: 2% 5% 0 7%;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.8;
  }
  .background-secondary-title2y3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  }
  .background-secondary-title2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(maskgroup2.png);
  width: 422px;
  height: 417px;
  }
  .background-secondary-title3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(maskgroup3.png);
  width: 422px;
  height: 417px;
  }
  footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  Width:1270px;
  Height:869px;
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  }
  .container-part1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  }
  .container-intersted-to-woek {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  }
  .secundary-title-white {
  width: 317px;
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  }
  .secundary-title-p {
  width: 460px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
  }
  /* .Vector
  .container-part2
  .container-Afreanska
  .container-logo-and-afreanska
  .logo
  .Ellipse
  .Ellipse1
  .afreanska
  .groupPart1
  .container-About-US
  .group-About-and-follow-US
  .groupPart2y3
  .container-follow-US
  .ultimop */