.our-project {
  margin: 0 0 20% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container-our-project {
  margin: 10% 0 10% -9%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 860px;
}
.ourFinishedProject-title {
  font-family: var(--fontRoboto);
  font-size: var(--bigFontSize);
  letter-spacing: 0.05em;
  color: var(--blue_01);
}
.ourFinishedProject-p {
  width: 540px;
  font-family: var(--fontRoboto);
  font-size: 16px; /* TODO: replace with font size variable */
  line-height: 26px;
  letter-spacing: 0.05em;
  color: var(--blue_01);
  opacity: 0.6;
}
.background-secondary-title1 {
  margin: 0 0 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url(maskgroup1.png);
  width: 940px;
  height: 417px;
}
.medium-title {
  margin: 5% 5% -1.5% 7%;
  font-family: var(--fontRoboto);
  font-size: 28px; /* TODO: replace with font size variable */
  line-height: 46px;
  letter-spacing: 0.05em;
  color: var(--white);
}
.medium-title-p {
  margin: 2% 5% 0 7%;
  font-family: var(--fontRoboto);
  font-size: 16px; /* TODO: replace with font size variable */
  line-height: 46px;
  letter-spacing: 0.05em;
  color: var(--white);
  opacity: 0.8;
}
.background-secondary-title2y3 {
  /* TODO: change class name to other more explicit */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
}
.background-secondary-title2 {
  /* TODO: change class name to other more explicit */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(maskgroup2.png);
  width: 422px;
  height: 417px;
}
.background-secondary-title3 {
  /* TODO: change class name to other more explicit */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(maskgroup3.png);
  width: 422px;
  height: 417px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 1270px; /* TODO: replace with flex or other metrics */
  height: 869px; /* TODO: replace with flex or other metrics */
  background: var(--blue_02);
  border-radius: 0px 200px 0px 0px;
}
.container-part1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 5% 0 5% 0;
}
.container-intersted-to-woek {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.secundary-title-white {
  width: 317px; /* TODO: replace with flex or other metrics */
  font-family: var(--fontRoboto);
  font-size: var(--bigFontSize);
  line-height: 46px;
  letter-spacing: 0.05em;
  color: var(--white);
}
.secundary-title-p {
  width: 460px; /* TODO: replace with flex or other metrics */
  font-family: var(--fontRoboto);
  font-size: 16px; /* TODO: replace with font size variable */
  line-height: 26px;
  letter-spacing: 0.05em;
  color: var(--white);
  opacity: 0.6;
}
 .Vector {
  display: flex;
  align-self: flex-start;
  height: 0px;
  width: 1073px;
  border-radius: 0px;
  opacity: 0.4;
  border: 1px solid var(--white);
 }
  .container-part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  .container-Afreanska {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 -5% 0 0;
  }
  .container-logo-and-afreanska {
    display: flex;
    align-items: baseline;
  }
  .logo {
  }
  .afreanska {
    font-family: var(--fontRoboto);
    font-size: 28px;
    line-height: 46px;
    color: var(--white);
    margin: 0 0 0 8%;
  }
  .groupPart1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .letrasconpunto {
    font-family: var(--fontRoboto);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: var(--white);
    margin-right: 20px;
  }
  .textoaldalodeletras1 {
    font-family: var(--fontRoboto);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: var(--white);
    width: 50%;
  }
  .textoaldalodeletras2y3 {
    font-family: var(--fontRoboto);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: var(--white);
  }
  .container-About-US {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 5% 0 0;
  }
  .container-follow-US {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 16% 0 0;
  }
.group-About-and-follow-US {
  font-family: var(--fontRoboto);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: var(--white);
}
.groupPart2y3 {
  font-family: var(--fontRoboto);
  font-size: 16px;
  letter-spacing: 0.05em;
  color: var(--white);
}
.ultimop {
  font-family: var(--fontRoboto);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: var(--white);
  opacity: 0.4;
  display: flex;
  width: 70%;
}