.what-we-do {
  margin: 180px 80px 0px 180px;
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
}
.what-we-do-text {
  justify-self: flex-start;
  align-self: flex-start;
  width: 310px;
  margin-bottom: 67px;
  line-height: 46px;
  font-family: var(--fontRoboto);
  font-size: var(--bigFontSize);
}
.what-we-do-half {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-what-we-do {
  box-shadow: var(--shadow);
  border-radius: 10px;
  margin: 100px 50px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cards-margin0px{
  padding-top: 0px;
  margin: 0px ;
}
.img-cards-0{
  margin-left: 26px;
  margin-bottom: 56px;
}
.img-cards-01 {
  margin-left: 30px;
  margin-bottom: 50px;
}
.img-cards-02 {
  margin-left: 52px;
  margin-bottom: 56px;
}
.titulo-cards-what-we-do {
  margin: 0px;
  width: 257px;
  font-family: var(--fontRoboto);
  font-size: var(--regularFontSize);
  line-height: 30px;
  color: var(--blue_01);
}
.p-cards-what-we-do {
  margin:16px 0px 32px 0px;
  width: 284px;
  font-family: var(--fontRoboto);
  font-size: var(--smallFontSize);
  line-height: 26px;
  color: var(--blue_01);
  opacity: 0.7;
}
.anchor-what-we-do {
  position: relative;
  color: var(--blue_04);
  width: 190px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.text-anchor-what-we{
  display: flex;
  font-family: var(--fontRoboto);
  font-size: var(--extraSmallFontSize);
  line-height: 30px;
  width: 80px;
  height: 30px;
  color: var(--blue_04);
}
.flecha-anchor-what-we{
  position: absolute;
  width: 80px;
  padding: 7px 7px 7px 87px;
  opacity: .8;
}
.flecha-anchor-what-we:hover{
  animation-name: animationVector;
  animation-duration:1s;
  animation-iteration-count: 100;
  animation-timing-function: ease-out;
}
@keyframes animationVector{
  0% {
    padding-left: 87px;
  }
  100% {
    padding-left: 127px;
    width: 40px;
    opacity: 1;
  }
}
